body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #800080; /* Фіолетовий колір */
}

table {
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 36px;
    background: #eee; /* Сірий колір */
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background: #fff; /* Білий колір */
}